@import "tailwindcss";


@theme {
  --color-white: #FFFFFF;
  --color-bundle-border: #1F1F1F;   
  --color-review-border: #CED6DE;  
  --color-review-cut-price: #6F7882;   
  --color-section-heading: #484848;
  --color-bg-light-blue: #EDF4FF;
  --color-black:    #111827;   
  --color-review-heading: #A8B2BD;
  --color-purple: #4E2FD2;
  --color-very-light-borders: #F0F4F7;
  --color-selected-camera: #4E2FD2B2;
  --color-green: #0AA288;
  --color-variant-selector-border: #CCCCCC;
  --color-red: #D8392B;
  --color-price-product: #575757;
  --color-active-variant: #0AA288;
  --color-active-variant-bg: #1DF0BB0A;
  --color-disabled-button: #E6EBF0;
  --color-button-stepper: #525963;
}